<h2>Şifre Yenile</h2>

@if ((ViewBag.Message == null && ViewBag.Error == null) || ViewBag.Token != null)
{
    <form method="post">
        <input type="hidden" name="token" value="@ViewBag.Token" />

        <div class="mb-3">
            <label>Yeni şifre</label>
            <input type="password" name="password" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Yeni şifre tekrar</label>
            <input type="password" name="confirmPassword" class="form-control" />
        </div>

        <button type="submit" class="btn btn-warning">
            Şifremi Yenile
        </button>
    </form>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">
        @ViewBag.Message
    </div>

    <a href="/Login/Index" class="btn btn-primary mt-2">Giriş Yap</a>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-3">
        @ViewBag.Error
    </div>
}
